[src/**/*.{fs,fsi}]
fsharp_keep_max_number_of_blank_lines=1

[build.fsx]
fsharp_keep_max_number_of_blank_lines=1
fsharp_blank_lines_around_nested_multiline_expressions=false

[docs/**/*.fsx]
fsharp_keep_max_number_of_blank_lines=1

[tests/*.fsx]
fsharp_multiline_bracket_style = aligned