redirects: on
source https://www.nuget.org/api/v2/

nuget FSharp.Core
nuget FAKE
nuget FsCheck
nuget Microsoft.NET.Test.Sdk 15.6.1
nuget Nuget.CommandLine
nuget NUnit.Runners
nuget FSharp.Compiler.Service
nuget FsUnit
nuget NUnit3TestAdapter 3.10.0
nuget NUnit 3.10.1
nuget NunitXml.TestLogger 1.1.0