source https://www.nuget.org/api/v2/

storage: none

nuget FSharp.Core
nuget FSharp.Compiler.Service 33.0.0
nuget FsUnit
nuget FsCheck
nuget Microsoft.NET.Test.Sdk 16.4.0
nuget nunit 3.12.0
nuget nunitlite 3.12.0
nuget NUnit3TestAdapter 3.15.1
nuget NunitXml.TestLogger
nuget Argu
