/*--------------------------------------------------------------------------
  Formatting xmldoc sections in fsdocs-content
/*--------------------------------------------------------------------------*/

.fsdocs-summary {
    display: inline;
}

tr:has(details[open]) {
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-400);
}

details[open] dl.fsdocs-params {
    margin-top: 1rem;
}

.fsdocs-xmldoc, .fsdocs-entity-xmldoc, .fsdocs-member-xmldoc {
    font-size: 1.0rem;
    line-height: 1.375rem;
    letter-spacing: 0.01px;
    font-weight: 500;
    color: #262626;
}

.fsdocs-xmldoc h1 {
    font-size: 1.2rem;
    margin: 10px 0 0 0;
}

.fsdocs-xmldoc h2 {
    font-size: 1.2rem;
    margin: 10px 0px 0px 0px;
}

.fsdocs-xmldoc h3 {
    font-size: 1.1rem;
    margin: 10px 0px 0px 0px;
}

.fsdocs-member-xmldoc details[open] summary + * {
    margin-top: 1rem;
}

#fsdocs-nav img.logo{
    width:90%;
    margin-top:40px;
    border-style:none;
}

#fsdocs-nav input{
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 93%;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#fsdocs-nav {
    font-size:0.95rem;
}

#fsdocs-nav li.nav-header{
    padding-left: 0;
    color: #262626;
    text-transform: none;
    font-size:16px;
    margin-top: 9px;
    font-weight: bold;
}

#fsdocs-nav a{
    padding-left: 0;
    color: #6c6c6d;
}

/*--------------------------------------------------------------------------
  Formatting pre and code sections in fsdocs-content (code highlighting is
    further below)
/*--------------------------------------------------------------------------*/

#fsdocs-content code {
    /* font-size: 0.83rem; */
    font: 0.85rem 'Roboto Mono', monospace;
    background-color: #f7f7f900;
    border: 0px;
    padding: 0px;
    /* word-wrap: break-word; */
    /* white-space: pre; */
}

/* omitted */
#fsdocs-content span.omitted {
    background: #3c4e52;
    border-radius: 5px;
    color: #808080;
    padding: 0px 0px 1px 0px;
}

#fsdocs-content pre .fssnip code {
    font: 0.86rem 'Roboto Mono', monospace;
}

#fsdocs-content table.pre,
#fsdocs-content pre.fssnip,
#fsdocs-content pre {
    line-height: 13pt;
    border: 0px solid #d8d8d8;
    border-top: 0px solid #e3e3e3;
    border-collapse: separate;
    white-space: pre;
    font: 0.86rem 'Roboto Mono', monospace;
    width: 100%;
    margin: 10px 0px 20px 0px;
    background-color: #f3f4f7;
    padding: 10px;
    border-radius: 5px;
    color: #8e0e2b;
    max-width: none;
    box-sizing: border-box;
}

#fsdocs-content pre.fssnip code {
    font: 0.86rem 'Roboto Mono', monospace;
    font-weight: 600;
}

#fsdocs-content table.pre {
    background-color: #fff7ed;
}

#fsdocs-content table.pre pre {
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    width: 100%;
    background-color: #fff7ed;
    color: #837b79;
}

#fsdocs-content table.pre td {
    padding: 0px;
    white-space: normal;
    margin: 0px;
    width: 100%;
}

#fsdocs-content table.pre td.lines {
    width: 30px;
}


#fsdocs-content pre {
    word-wrap: inherit;
}

.fsdocs-example-header {
    font-size: 1.0rem;
    line-height: 1.375rem;
    letter-spacing: 0.01px;
    font-weight: 700;
    color: #262626;
}

/*--------------------------------------------------------------------------
  Formatting for F# code snippets
/*--------------------------------------------------------------------------*/

.fsdocs-param-name,
.fsdocs-return-name,
.fsdocs-param {
    font-weight: 900;
    font-size: 0.85rem;
    font-family: 'Roboto Mono', monospace;
}
/* strings --- and stlyes for other string related formats */
#fsdocs-content span.s {
    color: #dd1144;
}
/* printf formatters */
#fsdocs-content span.pf {
    color: #E0C57F;
}
/* escaped chars */
#fsdocs-content span.e {
    color: #EA8675;
}

/* identifiers --- and styles for more specific identifier types */
#fsdocs-content span.id {
    color: #262626;
}
/* module */
#fsdocs-content span.m {
    color: #009999;
}
/* reference type */
#fsdocs-content span.rt {
    color: #4974D1;
}
/* value type */
#fsdocs-content span.vt {
    color: #43AEC6;
}
/* interface */
#fsdocs-content span.if {
    color: #43AEC6;
}
/* type argument */
#fsdocs-content span.ta {
    color: #43AEC6;
}
/* disposable */
#fsdocs-content span.d {
    color: #43AEC6;
}
/* property */
#fsdocs-content span.prop {
    color: #43AEC6;
}
/* punctuation */
#fsdocs-content span.p {
    color: #43AEC6;
}
#fsdocs-content span.pn {
    color: #262626;
}
/* function */
#fsdocs-content span.f {
    color: #e1e1e1;
}
#fsdocs-content span.fn {
    color: #990000;
}
/* active pattern */
#fsdocs-content span.pat {
    color: #4ec9b0;
}
/* union case */
#fsdocs-content span.u {
    color: #4ec9b0;
}
/* enumeration */
#fsdocs-content span.e {
    color: #4ec9b0;
}
/* keywords */
#fsdocs-content span.k {
    color: #b68015;
    /* font-weight: bold; */
}
/* comment */
#fsdocs-content span.c {
    color: #808080;
    font-weight: 400;
    font-style: italic;
}
/* operators */
#fsdocs-content span.o {
    color: #af75c1;
}
/* numbers */
#fsdocs-content span.n {
    color: #009999;
}
/* line number */
#fsdocs-content span.l {
    color: #80b0b0;
}
/* mutable var or ref cell */
#fsdocs-content span.v {
    color: #d1d1d1;
    font-weight: bold;
}
/* inactive code */
#fsdocs-content span.inactive {
    color: #808080;
}
/* preprocessor */
#fsdocs-content span.prep {
    color: #af75c1;
}
/* fsi output */
#fsdocs-content span.fsi {
    color: #808080;
}

/* tool tip */
div.fsdocs-tip {
    background: #475b5f;
    border-radius: 4px;
    font: 0.85rem 'Roboto Mono', monospace;
    padding: 6px 8px 6px 8px;
    display: none;
    color: #d1d1d1;
    pointer-events: none;
}

div.fsdocs-tip code {
    color: #d1d1d1;
    font: 0.85rem 'Roboto Mono', monospace;
}
