@import "./global-config.sass"
@import "./fsdocs-default.css"
@import "./sidebar.sass"

main

.nav-item
    margin-right:10px

.nav-link.active
    color:$secondary

.nav-link
    color:$black
.nav-link:hover
    color:$secondary

.bi
  --bs-text-opacity: 0.5 
  color:$black
#fsdocs-content

    h1, h2, h3, h4, h5, h6 
      a
        color: $black
        text-decoration: none
        text-decoration-style: none

      &:hover, &:focus
        color: $black
        text-decoration: none
        text-decoration-style: none

    h1
        margin: 30px 0px 15px 0px
        font-size: 2rem
        letter-spacing: 1.78px
        line-height: 2.5rem
        font-weight: 400
    h2
        font-size: 1.6rem
        margin: 20px 0px 10px 0px
        font-weight: 400
    h3
        font-size: 1.2rem
        margin: 15px 0px 10px 0px
        font-weight: 400
    hr
        margin: 0px 0px 20px 0px
    li
        font-size: 1.0rem
        line-height: 1.5rem
        letter-spacing: 0.01px
        font-weight: normal
        margin: 0px 0px 15px 0px
    p
        font-size: 1.0rem
        line-height: 1.5rem
        letter-spacing: 0.01px
        font-weight: normal
        color: $black
    a   
        color: $secondary
    dt
        font-weight:normal

.fsdocs-source-link
  float: right
  text-decoration: none

  img
    border-style: none
    margin-left: 10px
    width: auto
    height: 1.4em
