// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./bootstrap/scss/functions"

// 2. Include any default variable overrides here
$font-family-sans-serif: 'Reem Kufi', sans-serif
$primary: #338CBB
$secondary: #2FBADC
$black: #222222
$white: #FFF
$navbar-light-brand-color: $white
$navbar-light-brand-hover-color: $white
$navbar-light-color: $white
$navbar-light-hover-color: $white
$navbar-nav-link-padding-x: 0

// 3. Include remainder of required Bootstrap stylesheets
@import "./bootstrap/scss/variables"
@import "./bootstrap/scss/mixins"
@import "./bootstrap/scss/root"

// 4. Include any optional Bootstrap components as you like
@import "./bootstrap/scss/utilities"

$utilities: map-merge($utilities, ("border-start": map-merge(map-get($utilities, "border-start"), ("responsive": true))))

@import "./bootstrap/scss/reboot"
@import "./bootstrap/scss/type"
@import "./bootstrap/scss/images"
@import "./bootstrap/scss/containers"
@import "./bootstrap/scss/grid"
@import "./bootstrap/scss/buttons"
@import "./bootstrap/scss/transitions"
@import "./bootstrap/scss/nav"
@import "./bootstrap/scss/navbar"
@import "./bootstrap/scss/tooltip"
@import "./bootstrap/scss/carousel"
@import "./bootstrap/scss/card"
@import "./bootstrap/scss/helpers"

// 5. Add additional custom code here
@import "./bootstrap/scss/utilities/api"

html, body
  width: 100%
  margin: 0

.bred
  border: 1px solid red

header
  height: 100vh
  position: relative
  padding: 4rem 0

  video
    filter: blur(0.025rem)
    opacity: 0.8
    position: absolute
    object-position: 0% 0%
    object-fit: cover
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -2

  .video-overlay
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: transparentize($primary, 0.40)

  nav
    .navbar-brand
      text-transform: uppercase
      text-decoration: none
      color: $white

      &:active
        color: $white

      img
        margin-right: 1rem

    .nav-item
      margin-left: 2rem

      .nav-link
        position: relative
        text-transform: uppercase

        &::after
          content: ''
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          height: 0.1em
          background-color: $white
          transition: opacity 300ms, transform 300ms
          opacity: 0
          transform: scale(0)
          transform-origin: center

        &:hover::after, &:focus::after
          transform: scale(1)
          opacity: 1

  //.navbar-collapse.collapse.show
  //  .nav-item
  //    padding: 0.5rem 0
  //    border-top: 1px solid $white

  #core-title
    color: $white
    text-align: center
    font-size: 4rem
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  #cta-buttons
    position: absolute
    bottom: 9rem
    left: 50%
    transform: translateX(-50%)

    a.btn
      font-size: 2rem
      border-radius: 0
      text-transform: uppercase
      margin: 0 1rem
      margin-bottom: 1rem


.discord
  position: fixed
  background-color: $primary
  color: $white
  padding: 0.5rem 1rem
  z-index: 5
  right: 2rem
  bottom: 2rem

  strong
    display: block
    margin-bottom: 0.25rem

ul
  list-style: square

code
  background-color: $dark
  color: $primary
  padding: 1.6rem
  display: inline-block
  font-size: 1.6rem
  font-weight: 700

.pointer
  cursor: pointer

section
  padding: 3rem 0
  @include media-breakpoint-up(lg)
    padding: 4rem 0
    

#testimonialsCarousel
  .carousel-item
    q
      min-height: 160px

#users
  #tile-container
    display: flex
    flex-wrap: wrap
    .tile
      padding: 0.25rem
      display: flex
      flex-direction: column
      justify-content: flex-start
      //border: 1px solid red
      img
        width: 50px

    @include media-breakpoint-up(md)
      .tile
        padding: 0.5rem
        img
          width: 100px

    @include media-breakpoint-up(lg)
      .tile
        img
          width: 150px

#media
  .tweet
    margin-top: -10px