$sidebar-width: 280px

main
    margin-left: 0
    transition: margin 0.3s ease-in-out

    #sidebar-wrapper
        width: 100%
        transition: left 0.3s ease-in-out
        overflow-y: auto
        position: fixed
        z-index: 1000
        a
           color: $white
           text-decoration: none
           text-decoration-style: none

        #sidebar-logo
            #fsdocs-logo
                width: 170px

        &:not(.show)
            display: none

        @include media-breakpoint-up(md) 
            width: $sidebar-width
            left: 0


    @include media-breakpoint-up(md) 
        &:not(.toggled)
            margin-left: $sidebar-width



    

