$primary: #338CBB
$secondary: #2FBADC
$black: #222222
$drop-shadow: rgba(22, 22, 22, 0.2)
$white: #FFF
$pearl: #f6f7f7
$menu-open: #347193
$success: #92DC84
$warning: #F5BF4F
$danger: #EA7268
$gresearch-color: #00A8E2
$navbar-light-brand-color: $white
$navbar-light-brand-hover-color: $white
$navbar-light-color: $white
$navbar-light-active-color: $secondary
$navbar-light-hover-color: $white
$navbar-nav-link-padding-x: 0
$configuration-icon-size: 1.3rem
$accordion-bg: $primary
$accordion-button-active-bg: $menu-open
$accordion-icon-color: $white
$accordion-icon-active-color: $white
$accordion-button-focus-box-shadow: $menu-open
$accordion-border-width: 0px
$accordion-icon-width: 1.5rem
