name: Build main

on:
  push:
    branches:
      - main

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build:
    runs-on: windows-latest
    environment: release

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
    - name: Init
      run: dotnet fsi build.fsx -p Init
    - name: Obtain NuGet key
        # this hash is v1.1.0
      uses: NuGet/login@d22cc5f58ff5b88bf9bd452535b4335137e24544
      id: login
      with:
          user: ${{ secrets.NUGET_USER }}
    - name: "Publish"
      env:
        NUGET_KEY:  ${{ steps.login.outputs.NUGET_API_KEY }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: dotnet fsi build.fsx -p Release
